.temas {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: var(--spacing-xl) 360px;
  padding-bottom: calc(var(--spacing-xl) * 2);
}

.secao h2 {
  color: var(--color-branco);
  margin: 0 0 var(--spacing-md);
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}
